a{
font-size: 20PX;
color: blue;
font-style: normal;
position: absolute left 100px;
}
 p{
 margin-top: 30px;
}

#container{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    text-align: center;
}
 #choices{
    display: none;
}
#counter{
    font-size: 40px;
    color: red;
    margin-left: 40px 40px;
     
}
#start{
    font-size: 20px;
    background-color: lightblue;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 40;
    cursor: pointer;
    color: whitesmoke;
}
#question{
    font-size: 30px;
    color: red;
}
.choice {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;   
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
  } 